.nav-item a:hover{
    color:#089da1 !important;
}
*{
    margin: 0%;
    padding: 0%;

}
section nav{
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 8px #089da1;
    background-color: black;
    position: fixed;  
}
section nav .log{
margin-left: 2%;
}
body{
    background-image: url(image/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
}
.txtform{
    margin-top: 5%;
}
.txtform .row .txtgrp{
    margin-top: 12%;

}
.contact-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin-left: 38%;
    margin-top: 5%;
  }
  
  .c1{
    margin-left: 45%;
    margin-top: 5%;
  }